# Ignore all vscode project files
*.vxcproj
*.vxcproj.*
src/*.vxcproj
src/*.vxcproj.*

# Other folders made by Vscode or something
Debug/
Release/

# Mac files :// sorry guys
.DS_Store

# Run file itself
run.exe
